<div class="container">
    <div class="my-5">
        <h2 class="text-center mb-4">Profile</h2>
        <div class="row">
            <div class="col-md-6 pe-lg-5">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Personal Info
                    </a>
                    <a routerLink="favorites" class="list-group-item list-group-item-action">Favorites</a>
                    <a routerLink="users" class="list-group-item list-group-item-action">Settings</a>
                    <a href="#" class="list-group-item list-group-item-action">Dark mode</a>
                    <button type="button" class="button my-5" (click)="onLogOut()">Logout</button>
                </div>
            </div>
            <div class="col-md-6 ps-md-5">

            </div>
        </div>
    </div>
</div>
