<div class="text-center my-5">
    <a routerLink="/dashboard"><img src="../assets/img/NFT_LOGO.png" width="300px"></a>
</div>

<div class="container">
    <div class="my-5">
        <h2 class="text-center">Recover your password</h2>
        <form [formGroup]="recoverUser" (ngSubmit)="recover()" *ngIf="!loading">
            <div class="mb-5">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
                <h6 *ngIf="recoverUser.get('email')?.hasError('required') && recoverUser.get('email')?.touched"
                    class="text-danger my-3">The email is required</h6>
                <h6 *ngIf="recoverUser.get('email')?.hasError('email') && recoverUser.get('email')?.touched"
                    class="text-danger my-3">Please enter a correct email format</h6>
            </div>

            <div class="text-center">
                <button type="submit" class="button w-25" [disabled]="recoverUser.invalid">Recover</button>
            </div>
            <div class="text-center mt-3">
                <a routerLink="/login">Login</a>
            </div>
        </form>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>

<app-footer></app-footer>
