<app-navbar></app-navbar>


<div class="container">
    <div class="col-md-12 my-5">
        <h1 class="mb-4">NFTs on sale</h1>
    </div>
    <div class="dropdown mb-5 d-flex">
        <button class="static-btn dropdown-toggle me-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Recently listed</a></li>
            <li><a class="dropdown-item" href="#">Price: Low to High</a></li>
            <li><a class="dropdown-item" href="#">Price: High to Low</a></li>
            <li><a class="dropdown-item" href="#">Most liked</a></li>
        </ul>
        <div>
            <app-search (searchTextChange)="onSearchTextEntered($event)"></app-search>
        </div>
    </div>
</div>

<div class="container-fluid" id="back">
    <!-- <app-spinner *ngIf="loading" class="my-5"></app-spinner> -->
    <div class="container my-5" id="marketplace">

        <div *ngFor="let nft of nfts" id="cards">

            <div *ngIf="searchText === '' || nfts.name.toLowerCase().includes(searchText)">

                <div class="card cards mb-4">
                    <div>
                        <a routerLink="/nft-details/{{nft.dna}}"><img src="{{nft.image}}" class="card-img-top"></a>
                    </div>
                    <div class="card-body">
                        <h4 class="nft-title">{{nft.name}}</h4>
                        <!-- <p>{{nft.attributes.trait_type}}</p> -->
                        <a class="nft-collection mb-3" routerLink="/">{{nft.creator}}</a>
                        <p>Price: <span>{{nft.price}} ℏ</span></p>
                        <button class="button heart text-end"><i class="fa-solid fa-heart"></i></button>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="container my-5">
    <h5>Pagination</h5>
</div>


<app-footer></app-footer>
