<footer>
    <div class="footer container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><img src="../assets/img/NFT_LOGO.png" width="200px"></a>
                    <p class="mt-5">NFTWorld is a digital marketplace for crypto collectibles and
                        non-fungible tokens (NFTs). Buy, sell, and discover exclusive digital items.</p>
                </div>
                <div class="col-md-4 footer-list d-flex justify-content-md-center">
                    <ul class="footer-ul mt-3">
                        <h5>Menu</h5>
                        <li>
                            <a routerLink="/dashboard">Home</a>
                        </li>
                        <li>
                            <a routerLink="/marketplace">Marketplace</a>
                        </li>
                        <li>
                            <a routerLink="">Collections</a>
                        </li>
                        <li>
                            <a routerLink="">Stats</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-list d-flex justify-content-md-center">
                    <ul class="footer-ul mt-3">
                        <h5>Join the community</h5>
                        <li>
                            <a href="#" target="_blank"><i class="fa-brands fa-twitter me-3"></i>Twitter</a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa-brands fa-instagram me-3"></i>Instagram</a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa-brands fa-facebook me-3"></i>Facebook</a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa-brands fa-discord me-3"></i>Discord</a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa-brands fa-reddit-alien me-3"></i>Reddit</a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa-brands fa-youtube me-3"></i>YouTube</a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa-solid fa-envelope me-3"></i>Email</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="pt-3">
                <h6>&copy; Copyright 2022</h6>
            </div>
        </div>
    </div>
</footer>
