<div class="row">


        <div class="card cards card-p" style="width: 20%" *ngFor="let nft of nfts; let id = index">
            <img src="{{nft.image}}" class="card-img-top">
            <div class="card-body">
                <h4 class="nft-title">{{nft.name}}</h4>
                <a class="nft-collection mb-3" routerLink="/">{{nft.creator}}</a>
                <p>Price: <span>300</span></p>
                <button class="button heart text-end"><i class="fa-solid fa-heart"></i></button>
                <a routerLink="" class="stretched-link"></a>
            </div>
        </div>

</div>
