<div class="text-center my-5">
    <a routerLink="/dashboard"><img src="../assets/img/NFT_LOGO.png" width="300px"></a>
</div>

<div class="container">
    <div class="my-5">
        <h2 class="text-center">Login</h2>
        <form (ngSubmit)="login()" [formGroup]="loginUser" *ngIf="!loading">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
                <h6 *ngIf="loginUser.get('email')?.hasError('required') && loginUser.get('email')?.touched"
                    class="text-danger my-3">The email is required</h6>
                <h6 *ngIf="loginUser.get('email')?.hasError('email') && loginUser.get('email')?.touched"
                    class="text-danger my-3">Please enter a correct email format</h6>
            </div>

            <div class="mb-5">
                <label for="name" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
                <h6 *ngIf="loginUser.get('password')?.hasError('required') && loginUser.get('password')?.touched"
                    class="text-danger my-3">The password is required</h6>
                <h6 *ngIf="loginUser.get('password')?.hasError('minlength') && loginUser.get('password')?.touched"
                    class="text-danger my-3">The password must be at least 6 characters long</h6>
            </div>

            <div class="text-center">
                <button type="submit" class="button w-25" [disabled]="loginUser.invalid">Login</button>
            </div>
        </form>
        <app-spinner *ngIf="loading"></app-spinner>
        <p class="mt-5 text-center">Are you a NEW user? <a routerLink="/register">Register</a> now!</p>
        <div class="text-center mt-3">
            <a routerLink="/password-recovery">Password recovery</a>
        </div>
    </div>
</div>

<!-- <div class="text-center my-5">
    <a routerLink="/dashboard"><img src="../assets/img/NFT_LOGO.png" width="300px"></a>
</div>

<div class="container">
    <div class="my-5">
        <h2 class="text-center">Login</h2>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email">
                <h6
                    class="text-danger my-3">The email is required</h6>
                <h6
                    class="text-danger my-3">Please enter a correct email format</h6>
            </div>

            <div class="mb-5">
                <label for="name" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password">
                <h6
                    class="text-danger my-3">The password is required</h6>
                <h6
                    class="text-danger my-3">The password must be at least 6 characters long</h6>
            </div>

            <div class="text-center">
                <button type="submit" class="button w-25" (click)="login()">Login</button>
            </div>
        </form>
        <app-spinner></app-spinner>
        <p class="mt-5 text-center">Are you a NEW user? <a routerLink="/register">Register</a> now!</p>
        <div class="text-center mt-3">
            <a routerLink="/password-recovery">Password recovery</a>
        </div>
    </div>
</div> -->

<app-footer></app-footer>
