<div class="text-center my-5">
    <a routerLink="/dashboard"><img src="../assets/img/NFT_LOGO.png" width="300px"></a>
</div>

<div class="container">
    <div class="my-5">
        <h2 class="text-center mb-5">Verify your email</h2>

        <p class="text-center py-5">We will send you an email for verification</p>

        <div class="text-center">
            <button type="button" class="button w-25" routerLink="/login">Send</button>
        </div>

    </div>
</div>
<app-footer></app-footer>
