.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    li {
        text-decoration: none;
    }

}

.navbar {
    background-color: var(--bg-black-900) !important;
    border-bottom: 1px solid var(--bg-black-50);
}


.details {
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    align-items: center;
}
